%body
  %header
    .header-logo
      = link_to("VEGAN", "/")
    %ul.header-menus
      %li
        = link_to("VEGANとは", "/about")
      %li
        = link_to("投稿一覧", "/posts/index")
      %li
        = link_to("新規投稿", "/posts/new")
      %li
        = link_to("ユーザー一覧", "/users/index")
      %li
        = link_to("新規登録", "/signup")
  - if flash[:notice]
    .flash
      = flash[:notice]

  .main.users-edit
    .container
      .form-heading ユーザー情報の編集
      .form.users-form
        .form-body
          - @user.errors.full_messages.each do |message|
            .form-error
              = message
          = form_tag("/users/#{@user.id}/update",{multipart:true}) do
            %p ユーザー名
            %input{:name => "name", :value => "#{@user.name}"}/
            %p 画像
            %input{:name => "image",:type => "file"}/
            %p メールアドレス
            %input{:name => "email", :value => "#{@user.email}"}/
            %input{:type => "submit", :value => "保存"}/