%body
  %header
    .header-logo
      = link_to("VEGAN", "/")
    %ul.header-menus
      %li
        = link_to("VEGANとは", "/about")
      %li
        = link_to("投稿一覧", "/posts/index")
      %li
        = link_to("新規投稿", "/posts/new")
      %li
        = link_to("ユーザー一覧", "/users/index")
      %li
        = link_to("新規登録", "/signup")
  - if flash[:notice]
    .flash
      = flash[:notice]

  .main.posts-index
    .container
      - @posts.each do |post|
        .posts-index-item
          = link_to(post.content, "/posts/#{post.id}")