%body
  %header
    .header-logo
      - if @current_user
        = link_to("VEGAN", "/posts/index")
      - else 
        = link_to("VEGAN", "/")
    %ul.header-menus
      - if @current_user
        %li
          = link_to(@current_user.name, "/user/#{@current_user.id}")
        %li
          = link_to("投稿一覧", "/posts/index")
        %li
          = link_to("新規投稿", "/posts/new")
        %li
          = link_to("ユーザー一覧", "/users/index")
        %li
          = link_to("ログアウト", "/logout", {method: :post})
      - else
        %li
          = link_to("VEGANとは", "/about")
        %li
          = link_to("新規登録", "/signup")
        %li
          = link_to("ログイン", "/login")

  - if flash[:notice]
    .flash
      = flash[:notice]
      
  .main.posts-show
    .container
      .posts-show-item
        .post-user-name
          %img{:src => "/user_images/#{@user.image_name}"}/
          = link_to(@user.name, "/users/#{@user.id}")
        %p 
          = @post.content
        .post-time
          = @post.created_at
        - if Like.find_by(user_id: @current_user.id, post_id: @post.id)
          = link_to("いいね！済み", "/likes/#{@post.id}/destroy", {method: "post"})
        - else
          = link_to("いいね！", "/likes/#{@post.id}/create", {method:"post"})
        - if @post.user_id == @current_user.id
          .post-menus
            = link_to("編集", "/posts/#{@post.id}/edit")
            = link_to("削除", "/posts/#{@post.id}/destroy", {method:"post"})